body {
    padding: 100px;
    margin: auto;
    background-color: #e0e0cb;
}
main {
    margin: auto;
    background-color: #6b6bdf;
    width: 300px;
    height: 60%;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.425);
}
header {
    border: 1px solid black;
    border-radius: 7px;
}
h1 {
    text-align: center;
}
input#nome{
    padding: 3px;
    margin: 5px;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
input#altura{
    padding: 3px;
    margin: 5px;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;


}
input#peso{
    padding: 3px;
    margin: 5px 5px 5px 15px;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;


}
div#res {
    padding: 10px;
    border-radius: 10px;
    width: 290px;
    height: 150px;
    background-color: black;
    color: white;
}
input#calc {
    background-color: black;
    border-radius: 5px;
    color: white;
    width: 280px;
    height: 30px;
    margin: 10px;
    text-align: center;
}
input#calc:hover{
    color: rgb(197, 192, 192);
}